

.footer-btn {
    background-color: #365972;
    padding: 1.5rem;
}

.card-container-header{
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    background-color: #365972;
}

.search{
    width:400px;
    padding: 5px 10px;
    margin-top: 8px;
    border-radius: 10px;
}

.btn {
    background-color:#00202e;
    color: white;
    padding: 5px 16px;
    border-radius: 8px;
}





